thead{
    border-radius: 50%;
    background-color: #5b79e6;
    color: #ffffff ;
}

th{
    text-align: left;
    padding: 0.5rem 0 0.5rem 0.6rem;
}

td{
    padding: 1.1rem 0.4rem;
    color: #2c3e50;
    min-width: 170px;
}

tr:nth-child(2n+1){
    background-color: #e6f7ff;
    
}